
    .line_L1 {
        fill: #FA0727;
        stroke: #FA0727;
        background-color: #FA0727;
    }

    
    .line_L2 {
        fill: #FF7600;
        stroke: #FF7600;
        background-color: #FF7600;
    }

    
    .line_L4 {
        fill: #1A1D6A;
        stroke: #1A1D6A;
        background-color: #1A1D6A;
    }

    
    .line_L4a {
        fill: #0A5FCA;
        stroke: #0A5FCA;
        background-color: #0A5FCA;
    }

    
    .line_L5 {
        fill: #008A63;
        stroke: #008A63;
        background-color: #008A63;
    }

    